# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/default.***/*.xcodeproj/*
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
xcuserdata
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
build/

# Generic
*~
*~.nib
*.swp
*.out
*.lock
.DS_Store
Thumbs.db

